.loading-container {
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    align-items: center;
    justify-content: center;
}

.loading-container .loading {
    margin-top: 65px;
    margin-bottom: 65px;
}

.spinner {
    margin: 0 auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4);
    }
    20% {
        -webkit-transform: scaleY(1);
    }
}

@keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
    }
}

/*style for loading bar*/

.timeline-item {
    padding: 16px;
    margin: 0 auto;
    /*max-width: 472px;*/
    min-height: 200px;
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 398px;
    position: relative;
}

.background-masker {
    position: absolute;
}

/*custom*/
.background-masker.line-top {
    height: 10px;
    top: 140px;
    left: 0;
    width: 100%;
}

.background-masker.padding-list,
.background-masker.padding-list-second,
.background-masker.padding-cate-second,
.background-masker.padding-cate {
    width: 10px;
    height: 90px;
}

.background-masker.padding-cate {
    top: 150px;
    left: 35%;
}

.background-masker.padding-cate-second {
    top: 150px;
    left: 75%;
}

.background-masker.line-cate {
    width: 100%;
    height: 10px;
    left: 0;
    top: 240px;
}

.background-masker.cate-name {
    height: 10px;
    top: 249px;
    left: 20%;
    width: 18%;
}

.background-masker.cate-name-second {
    height: 10px;
    top: 249px;
    left: 60%;
    width: 18%;
}

.background-masker.line-list-products {
    height: 10px;
    top: 259px;
    left: 0;
    width: 100%;
}

.background-masker.padding-list {
    top: 269px;
    left: 35%;
}

.background-masker.padding-list-second {
    top: 269px;
    left: 75%;
}

.background-masker.line-product-price {
    height: 10px;
    width: 100%;
    left: 0;
    top: 359px;
}

.background-masker.product-name {
    height: 10px;
    top: 369px;
    left: 24%;
    width: 14%;
}

.background-masker.product-name-second {
    height: 10px;
    top: 369px;
    left: 24%;
    width: 14%;
}

.background-masker.line-product-one {
    top: 379px;
    left: 0;
    width: 100%;
    height: 10px;
}

.background-masker.product-name-second {
    height: 10px;
    top: 369px;
    left: 64%;
    width: 14%;
}

.background-masker.line-product-one {
    top: 379px;
    left: 0;
    width: 100%;
    height: 10px;
}

.background-masker.product-price {
    top: 388px;
    width: 26%;
    height: 10px;
    left: 12%;
}

.background-masker.product-sub-price {
    top: 388px;
    width: 26%;
    height: 10px;
    left: 12%;
}

.background-masker.product-sub-price {
    top: 388px;
    width: 26%;
    height: 10px;
    left: 52%;
}

/* placeholder product list */
.loading-holder {
    .simi-placeholder-list, .simi-placeholder-detail{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 15px;
    }

    .pl-bars.pl-bars-title {
        margin-top: 10px;
        margin-bottom: 17px;
        box-sizing: border-box;
        width: 100%;

        .pl-bar {
            background: #eeeeee;
            height: 19px;
        }
        .pl-bar1 {
            width: 100%;
            margin-top: 17px;
        }
        .pl-bar2 {
            width: 40%;
            margin-top: 13px;
        }
    }
    
    .pl-card {
        width: 49%;
        border: 1px solid rgba(222, 222, 222, 0.33);

        &:nth-child(odd){
            margin-left: 4px;
        }

        .pl-image {
            background: #eeeeee;
            height: 175px;
        }
        .pl-bars {
            height: 85px;
            .pl-bar {
                background: #eeeeee;
                margin: 0 13px 13px;
                height: 19px;
            }
            .pl-bar1 {
                width: 80%;
                margin-top: 17px;
            }
            .pl-bar2 {
                width: 30%;
            }
        }

        &.card-detail{
            border: 0;
        }
    }

    .pl-loading {
        position: relative;
        overflow: hidden;
        &::after {
            content: "";
            display: block;
            background-color: #f6f7f8;
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            transform: translateX(0);
            animation: 1.5s simi-loading-placeholder ease-in-out infinite;
        }
    }

    /* .simi-placeholder-detail{
        padding: 0 15px;
    } */

}

@keyframes simi-loading-placeholder {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

@media screen and (max-width: 767px){
    .simi-placeholder-detail{
        .pl-card{
            width: 100%;

            &:nth-child(odd){
                margin-left: 0px;
            }

            .pl-bar{
                margin-left: 0;
            }
        }
    }
}