.iron-image-container {
    position: relative;
    background: none !important;
    width: 100%;
    height: 100%;

    overflow: hidden;
}

.iron-image-preload {
    position: absolute;
    top: 0;
    bottom:0;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 10;
    background-size: cover;
    border: 1px solid #fff;
    background: #f2f2f2;
}
.iron-image-loaded img {
    height: inherit !important;
    width: inherit !important;
}
.iron-image-loaded {
    z-index: 2;
    opacity: 0;
    position: relative;
    transition: opacity 1s ease;
}

.iron-image-fade-in {
    opacity: 1;
}
.loading-img {
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: auto;
}