.product-item {
    cursor: pointer;
    margin: 0px 10px;
    position: relative;
}

.product-grid > .tapita-product-grid-item{
    width: 50%;
    display: inline-block;
    margin: 0;
}

.tablet-product-des .review-rate {
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}
.tablet-product-des .review-rate .rate-review {
    display: inline-block;
}
.tablet-product-des .review-rate .review-count {
    display: inline-block;
    font-size: 15px;
    margin: 0 5px;
    line-height: 15px;
}

.tablet-product-des .product-item-action .wishlist-icon {
    float: left;
    margin-top: -1px;
}

.tablet-product-des .product-item-action .wishlist-icon button{
    padding: 0;
}

.tablet-product-des .product-item-action .wishlist-icon svg{
    width: 36px !important;
    height: 36px !important;
    margin-top: 1px;
}

.tablet-product-des .product-name.small
{
    width: 100%;
    font-size: 16px;
    margin-bottom: 4px;
    text-align: start;
    white-space: nowrap;
    font-weight: 600;    
    text-overflow: ellipsis;
    overflow: hidden;
}

.tablet-product-des .product-short-description {
    display: inline-block;
    font-size: 12px;
    margin-bottom: 10px;
}

.tablet-product-des .price {
    font-weight: 800;
    font-size: 20px;
    float: left;
    margin-bottom: 3px;
}

.tablet-product-des .old {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #757575;
    float: left;
}

.tablet-product-des .sale_off {
    display: none;
}

.tapita-product-image .sale-label {
    position: absolute;
    border: 1px solid;
    width: 80px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 28px;
    height: 30px;
    top: 13px;
    right: 13px;
    left: unset;
    bottom: unset;
    background-color: white;
    border-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #eaeaea;
    font-weight: 600;
    font-size: 15px;
    z-index: 9;
}

.tablet-product-des .product-item-action .btn-text {
    text-decoration: none !important;
}

.tablet-product-des .product-item-action a:hover {
    text-decoration: none;
}

.tapita-product-image {
    border: 1px solid #eee;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    padding: 1px;
}
.tapita-product-image img {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
    vertical-align: top;
    object-fit: contain;
}


@media (min-width: 920px){
    .product-grid > .tapita-product-grid-item{
        width: 33.333%;
    }
}

@media (min-width: 1220px){
    .product-grid > .tapita-product-grid-item{
        width: 25%;
    }
}

@media (min-width: 1605px){
    .product-grid > .tapita-product-grid-item{
        width: 20%;
    }
}

@media (max-width: 767px){

    .tapita-product-image .sale-label {
        width: 70px;
        font-size: 12px;
        padding: 1px;
    }

    
    .tablet-product-des .product-name.small {
        font-size: 13px;
    }
    .tablet-product-des .product-item-action .wishlist-icon {
        margin-top: 1px;
    }
    .tablet-product-des .product-item-action .wishlist-icon svg{
        width: 30px !important;
        height: 30px !important;
        margin-top: -8px;
    }
    
    .tablet-product-des .review-rate .review-count {
        font-size: 12px;
    }
    
    .tablet-product-des .price {
        font-size: 14px;
    }

    .tablet-product-des .old {
        font-size: 13px;
        color: #757575 !important;
        text-decoration: line-through;
        line-height: unset;
    }
}

@media (max-width: 374px){
    .tablet-product-des .review-rate .review-count {
        line-height: 19px;
        font-size: 11px;
    }
    .tablet-product-des .rate-review svg {
        width: 11px !important;
        height: 11px !important;
    }
}


/*
List Item
 */

.tapita-product-list-item {
    width: 100%;
    margin: 0px auto 20px auto;
    display: flex;
}

.tapita-product-list-item > a {
    flex-basis: 200px;
}

.tapita-product-list-item .tapita-product-image {
    width: 200px;
    height: 200px;
}
.tapita-product-list-item .product-name.small
{
    white-space: unset;
}


.tapita-product-list-item .tablet-product-des{
    padding-left: 25px;
    padding-right: 25px;
}
.tapita-product-list-item .tablet-product-des .product-item-action{
    width: 100%;
    display: flex;
}

.tapita-product-list-item .tablet-product-des .product-item-action .btn-component  {
    min-width: unset;
}

/*
Grid Item
 */
.tapita-product-grid-item {
    padding: 5px;
    vertical-align: top;
}

.tapita-product-grid-item .tablet-product-des {
    text-align: left;
    margin: 10px auto 0 auto;
    overflow: hidden;
}

.tapita-product-grid-item .tapita-product-image {
    width: 100%;
    padding-top: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.tapita-product-grid-item .tablet-product-des .product-item-action{
    width: 100%;
    display: flex;
}
.tapita-product-grid-item .product-item-action .btn-component  {
    display: flex;
    flex-grow: 1;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    opacity: 1;
    height: 36px;
    min-width: unset;
    min-height: unset;
    width: 100%;
}

@media (max-width: 767px){
    .tapita-product-grid-item .tablet-product-des .product-prices.small{
        overflow: auto;
    }
    .tapita-product-grid-item .product-item-action .btn-component .btn-text{
        font-size: 13px !important;
    }
    .tapita-product-grid-item .product-item-action .btn-component{
        height: 30px;
        padding: 0;
    }
}
@media (max-width: 374px){
    .tapita-product-grid-item .product-item-action .btn-component .btn-text{
        font-size: 10px !important;
    }
}