.fake-input-select {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    border: none;
    background: #f2f2f2;
    height: 40px;
    padding-left: 16px;
    .input-icon {
        order: 2;
        margin-left: auto;
        margin-right: 16px;
    }
}
.address-fields {
    .form-field-item {
        list-style-type: none;
        padding: 10px 0;
        display: block;
    }
}
.form-field-item {
    label {
        display: block;
        padding-bottom: 5px;
        font-weight: 600;
        span {
            color: red;
        }
    }
    input {
        width: 100%;
        border-radius: 5px;
        border: none;
        background: #f2f2f2;
        height: 40px;
        padding-left: 16px;
    }
}
