/*
Standard Home
 */
 .homepage .right.carousel-control, .left.carousel-control {
    display: none;
}

.homepage .carousel.carousel-slider .control-dots {
    padding: 0 !important;
    border: none;
}

.homepage ul.slider.animated, ul.slider{padding-left: 0px;border: none}


.homepage .carousel .slide { background: #fff; }
.homepage .app-content ul.slider.animated {
    border: none;
}
.default-home-cat-carousel .carousel-slider .axis-horizontal {
    margin: 0 auto;
    padding: 0 15px;
    width: unset;
    max-width: 900px;
}

.default-home-cat-carousel .carousel .control-prev.control-arrow:before {
    border-right: 8px solid #444444 !important;
}
.default-home-cat-carousel .carousel .control-next.control-arrow:before {
    border-left: 8px solid #444444 !important;;
}

.default-home-cat-carousel .home-category-container {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}

.home-category-container a:hover {
    text-decoration: none;
}

.default-home-cat-carousel .category-item .category-image img {
    vertical-align: top;
    object-fit: contain;
}

.tapita-homepage .slider-wrapper.axis-horizontal .slider .slide {
    background: none !important;
}

.default-home-category-grid {
    max-width: 768px;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
}

.default-home-category-grid .home-category-container {
    width: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.default-home-category-grid .home-category-container .category-item {
    margin: 0 auto;
}
.default-home-category-grid .home-category-container .category-item img{
    vertical-align: top;
    object-fit: contain;
}

.default-productlist-tapita {
    border-top: 1px solid #f2f1f3;
    padding-top: 30px;
}
.default-productlist-header-tapita {
    margin-bottom: 15px;
    display: flex;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
    justify-content: space-between;
    padding: 0 15px;
}
.default-productlist-name-tapita {
    font-weight: 800;
    display: inline-block;
    max-width: 65%;
}
.default-productlist-link-tapita {
    font-weight: 400;
    display: inline-block;
}
.default-productlist-bottom-link-tapita {
    background: #e0e0e0;
    margin: 0 15px 20px 15px;
    display: block;
    padding: 8px 20px;
    text-align: center;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
}

.matrix-productlist-bottom-link-tapita {
    background: #e0e0e0;
    margin: 0 15px 20px 15px;
    display: block;
    padding: 8px 20px;
    text-align: center;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
}
ul#categories {
    padding: 0px;
    list-style: none;
}

ul#categories li {
    padding: 10px;
    border-top: 1px solid #dedede;
    cursor: pointer;
}

.cate-item {
    margin-left: 8px;
    width: 100%
}

.cate-row {
    float: right;
}

div#categories_home {
    margin-top: 15px;
    display: flex;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 15px;
    overflow-y: hidden;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
}

span.category-name {
    text-transform: uppercase;
    color: #8a8a8a;
    font-weight: 500;
}

.current-category {
    padding: 15px;
    margin-top: -20px;
}

.current-category a {
    float: right;
    color: #8a8a8a;
}

.category-des {
    margin-top: 8px;
}

.category-des .category-name {
    font-size: 28px;
    font-weight: 200;
    text-align: center;
}
/*
Zara Home
 */
.zara-home-tapita .cate-sub ul#categories li{
    border: none;
    padding: 20px 100px;
    color: #2d2d2d;
    font-size: 20px;
    font-weight: 600;
}
.zara-home-tapita .iron-image-container {
    z-index: 0;
}
/*
Matrix Home
 */
.matrix-productlist-tapita-tab-content {
    display: block;
}
.matrix-productlist-tapita-tab-content.active {
    display: block;
}
.matrix-row {
    display: flex;
    margin-top: 1px;
    overflow-x: scroll;
}
.matrix-row::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent; /* make scrollbar transparent */
}
.matrix-row-item-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 3px;
    text-align: center;
    z-index: 5;
}

.matrix-productlist-tapita {
    padding-top: 40px;
}


.matrix-productlist-tapita-tab {
    width: 220px;
    min-width: 220px;
    padding-left: 15px;
    padding-right: 15px;
    height: 45px;
    overflow: hidden;
    float: left;
    display: inline-block;
    border-radius: 5px;
    font-size: 20px;
    line-height: 45px;
    text-align: center;
    margin: 7px 10px 7px 10px;
    color: #2d2d2d;
    font-weight: 600;
}

.matrix-productlist-tapita-tab:hover {
    cursor: pointer;
}

.matrix-productlist-tapita-tab.active {
    color: white;
}

.matrix-productlist-tapita .productlist-title {
    font-size: 22px;
    font-weight: 700;
    margin: 0 auto 10px auto;
    display: table;
}

.matrix-productlist-tapita .productlist-tab-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 730px;
    justify-content: center;
}

@media (max-width: 767px){
    .default-productlist-header-tapita {
        font-size: 17px;
    }
    .category-des .category-name {
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
    }
    .home-category-container a:hover .category-name {
        text-decoration: none;
    }
    .matrix-productlist-tapita-tab {
        width: 140px;
        min-width: 140px;
        height: 30px;
        font-size: 15px;
        line-height: 30px;
        padding-left: 2px;
        padding-right: 2px;
    }
    .matrix-productlist-tapita .productlist-tab-container {
        flex-wrap: unset;
        overflow: scroll;
        justify-content: unset;
    }
    .zara-home-tapita .cate-sub ul#categories li {
        padding: 20px 20px;
    }

    .zara-home-tapita .cate-sub ul#categories li svg{
        padding-top: 2px;
        padding-bottom: 6px;
    }
}
