.list-container .list-items li {font-weight:500;padding: 16px;cursor: pointer;display: flex;align-items: center;font-size: 16px;border-bottom: 1px solid #cacaca;}
.list-container .list-items {list-style-type: none;padding: 0}
.list-container .list-items li i {margin-left: auto;order: 2}