/*
Matrix Home
 */
 .matrix-productlist-tapita-tab-content {
    display: none;
}
.matrix-productlist-tapita-tab-content.active {
    display: block;
}
.matrix-row {
    display: flex;
    margin-top: 1px;
    overflow-x: scroll;
}
.matrix-row::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent; /* make scrollbar transparent */
}
.matrix-row-item-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 3px;
    text-align: center;
    z-index: 5;
}