.simi-dialog-paper {
  width: 75%;
}
.simi-dialog-header {
  .dialog-title {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }
}
#simi-dialog-footer {
  margin: 0;
  button {
    border-radius: 0;
  }
}
.full-dialog-title {
  text-transform: uppercase;
  font-size: 16px;
}
