
.cart-sidebar-item .item-name {
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 767px){
    .cart-sidebar-item .item-name {
        font-size: 16px;
    }
}

.cart-sidebar-item {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.cart-sidebar-item .img-cart {
    width: 20%;
    margin-right: 3%;
    display: inline-block;
    vertical-align: top;
    border: none;
}

.cart-sidebar-item .img-cart .img-cart-container{
    width: 100px;
    height: 100px;
    border: 1px solid;
    display: block;
    padding: 1px;
}

@media (max-width: 767px) {
    .cart-sidebar-item .img-cart .img-cart-container{
        width: 62px;
        height: 62px;
    }
}

.cart-sidebar-item .cart-item-info {
    display: inline-block;
    width: 55%;
    vertical-align: top;
}


@media (max-width: 1000px) {
    .cart-sidebar-item .cart-item-info {
        width: 47%;
    }
}


@media (max-width: 768px) {
    .cart-sidebar-item .cart-item-info {
        width: 56%;
    }
}


.cart-sidebar-item .item-qty {
    margin-top: 15px;
}

.cart-sidebar-item .item-qty input{
    padding: 0px;
    border-radius: 5px;
    height: 36px;
    font-size: 15px;
    font-weight: 600;
    margin-left: 15px;
    width: 50px;
    text-align: center;
    background: none;
}
.cart-sidebar-item .item-qty input:focus{
    border: none !important;
}

.cart-sidebar-item-price {
    width: 20%;
    margin-left: auto;
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: end;
}

.cart-sidebar-item-action {
    display: flex;
    padding-bottom: 15px;
    border-bottom: 1px solid #2d2d2d;
    justify-content: space-between;
}

.cart-sidebar-item-action .item-move-to-wishlist {
    color: #f69435;
    margin-top: 5px;
    font-size: 16px;
}

@media (max-width: 767px) {
    .cart-sidebar-item-action .item-move-to-wishlist {
        font-size: 12px;
        margin-top: 8px;
    }
}