/*.edit-address {*/
/*padding-bottom: 55px;*/
/*}*/
/*.listview-component{height: 100vh;overflow-y: scroll}*/
.my-dashboard {
	margin-top: 50px;
	.menu-section {
		margin-top: 30px;
	}
}
.menu-dashboard {
	padding-top: 15px;
	padding-bottom: 10px;
	border: 1px solid #eeeeee;
	webkit-box-shadow: 0px 0px 5px 1px rgba(184, 184, 184, 0.5);
	-moz-box-shadow: 0px 0px 5px 1px rgba(184, 184, 184, 0.5);
	box-shadow: 0px 0px 5px 1px rgba(184, 184, 184, 0.5);
}
.content-dashboard {
	.page-title {
		font-size: 26px;
		font-weight: bold;
	}
}
.section {
	.section-header {
		display: flex;
		justify-content: space-between;
		font-size: 20px;
		border-bottom: 1px solid #333;
		padding-bottom: 15px;
		margin-bottom: 15px;
		align-items: baseline;
	}
	.box {
		width: 35%;
	}
}
.page-content {
	.section {
		margin-top: 30px;
		margin-bottom: 30px;
		.section-content {
			display: block;
		}
	}
}
.menu-dashboard-item {
	.menu-title-item {
		font-weight: 500;
	}
}
.section-content {
	margin: 0 15px;
}
.table-list-order {
	table {
		thead {
			tr {
				th {
					font-weight: 400;
					border: none;
					vertical-align: top;
				}
			}
		}
		tbody {
			tr {
				td {
					padding-top: 20px;
					border: none;
					font-weight: 400;
				}
			}
		}
		tr {
			vertical-align: baseline;
		}
	}
}
.section-account-content {
	display: flex;
	justify-content: space-between;
}
.box-title {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 400;
	button {
		padding: 0 !important;
	}
}
.box {
	.box-content {
		font-weight: 400;
		p {
			margin-bottom: 5px;
			font-weight: 400;
		}
	}
	.box-action {
		font-size: 16px;
		font-weight: 400;
	}
}
.section-address-item {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.address-item.box {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}
ul.address-fields {
	border: unset;
}
.selected-item {
	color: rgb(0, 133, 255);
}
.cbx-default {
	padding-left: 12px;
	margin-top: 12px;
}
.default-address-message {
	height: 40px;
	width: 100%;
	background: #faffbd;
	margin: 12px 0;
	line-height: 40px;
	padding: 0 16px;
	font-size: 16px;
	cursor: pointer;
	font-weight: 300;
}
.default-billing {
	.checkbox {
		width: 100%;
	}
}
.default-shipping {
	.checkbox {
		width: 100%;
	}
}
.btn-form-action {
	display: flex;
	margin-top: 25px;
}
.address-form-btn {
	height: 50px;
	font-size: 20px;
	width: calc(50% - 7.5px);
	text-align: center;
	font-weight: 600;
	line-height: 48px;
	border-radius: 5px;
	margin: 0 5px;
}
.address-form-btn.btn-save-address {
	order: 2;
}
.address-form-btn.btn-cancel {
	border: 1px solid;
}
.address-form-btn.btn-addnew {
	width: 220px;
}
.section-order-history {
	table {
		thead {
			border-bottom: 1px solid;
		}
	}
}
.my-downloadable {
	table {
		thead {
			border-bottom: 1px solid;
		}
	}
}
.section-header {
	.section-link {
		font-size: 16px;
		font-weight: 400;
	}
	.section-title {
		font-weight: 600;
		padding: 0;
		background-color: unset;
	}
}
.menu-section {
	.menu-section-title {
		margin-bottom: 15px;
		font-weight: 600;
		font-size: 20px;
	}
}
.order-detail-wrapper {
	.top-header {
		display: flex;
		align-items: baseline;
		flex-wrap: wrap;
		span {
			padding-right: 12px;
		}
		.page-title {
			font-size: 25px;
			text-transform: unset;
		}
		.top-order-status {
			font-size: 20px;
			text-transform: uppercase;
			color: #f69435;
			font-weight: 500;
			padding-left: 12px;
		}
	}
}
.reorder-section {
	display: flex;
	align-items: center;
	font-size: 15px;
	line-height: 38px;
	color: #f69435;
	span {
		padding: 0 8px;
	}
}
.order-table {
	width: 100%;
	tr {
		vertical-align: -webkit-baseline-middle;
	}
	th {
		padding: 5px;
	}
	.product-prices.small {
		font-size: inherit;
	}
	td {
		padding: 10px 5px;
		font-size: 14px;
		font-weight: 400;
		line-height: 25px;
		max-width: 220px;
	}
}
.order-info-section {
	tr {
		vertical-align: -webkit-baseline-middle;
	}
	.address-item.box {
		width: 100%;
	}
	td {
		padding-top: 25px;
		font-size: 14px;
		font-weight: 400;
		width: 25%;
	}
	.item-title {
		font-size: 16px;
		font-weight: 600;
		padding-bottom: 15px;
	}
}
.price-with-label {
	display: flex;
	align-items: baseline;
}
td.product-info {
	font-weight: 500;
}
.order-totals-section {
	.checkout-total-item {
		display: flex;
		justify-content: space-between;
		.total-price {
			margin-left: unset;
		}
	}
}
.total-price {
	.product-prices.small {
		font-size: 100%;
	}
}
.section.order-totals-section {
	background: #f2f2f2;
	padding: 12px 24px;
	font-weight: 500;
	line-height: 24px;
}
.sub-header.order-status {
	font-size: 20px;
	font-weight: 300;
	margin-top: 20px;
}
.tbl-option {
	td {
		font-size: 12px;
		font-weight: 400;
	}
	-webkit-transition: height .3s linear, padding-top .3s linear, padding-bottom .3s linear, border-top-width .3s linear, border-top-width .3s linear;
	transition: height .3s linear, padding-top .3s linear, padding-bottom .3s linear, border-top-width .3s linear, border-top-width .3s linear;
}
.address-fields {
	.form-field-item {
		list-style-type: none;
		padding: 10px 0;
		display: block;
	}
}
.form-field-item {
	label {
		display: block;
		padding-bottom: 5px;
		font-weight: 600;
		span {
			color: red;
		}
	}
	input {
		width: 100%;
		border-radius: 5px;
		border: none;
		background: #f2f2f2;
		height: 40px;
		padding-left: 16px;
	}
}
.fake-input-select {
	width: 100%;
	border-radius: 5px;
	border: none;
	background: #f2f2f2;
	height: 40px;
	padding-left: 16px;
}
.listview-component {
	.list-view-content {
		display: block;
		padding: 0;
		border: 0;
	}
}
.list-view-content {
	.list-item {
		display: block;
		border-bottom: 1px solid #f2f1f3;
		margin-bottom: 20px;
		padding-bottom: 20px;
		&:hover {
			background: #f2f2f2;
		}
	}
}
.list-item {
	.item-field {
		display: flex;
		justify-content: space-between;
	}
	span {
		font-size: 14px;
		font-weight: 500;
	}
}
.item-field {
	.item-title {
		padding-bottom: 20px;
		font-size: 15px;
		font-weight: 600;
	}
	.value {
		padding: .2em .6em .3em;
	}
}
ul.menu-customer {
	.menu-customer-item {
		display: flex;
		align-items: center;
		padding: 16px;
		border: 1px solid #ededed;
		width: 100%;
		-webkit-box-shadow: 0px 2px 5px 0px rgba(201,201,201,0.53);
		box-shadow: 0px 2px 5px 0px rgba(201,201,201,0.53);
		cursor: pointer;
		.menu-title {
			margin-left: 20px;
			margin-right: 20px;
		}
	}
	li {
		margin-bottom: 20px;
	}
}
@media (max-width: 767px) {
	.item-header.item-field {
		display: flex;
		justify-content: space-between;
	}
	.section {
		.section-header {
			font-size: 18px;
			flex-wrap: wrap;
		}
		.box {
			width: 100%;
		}
	}
	.sub-header.order-status {
		font-size: 18px;
		flex-wrap: wrap;
	}
	.order-totals-section {
		.checkout-total-item {
			padding: 10px 0;
		}
	}
	.container.my-dashboard {
		margin-top: 30px;
	}
	.section-content {
		margin: 0;
	}
	.order-detail-wrapper {
		.top-header {
			display: block;
			.top-order-status {
				padding-left: 0;
				margin-top: 5px;
				font-size: 18px;
			}
		}
	}
	.content-dashboard {
		.page-title {
			font-size: 20px !important;
		}
	}
	.contact-info {
		margin-right: 15px;
	}
	.address-form-btn.btn-addnew {
		width: 100%;
	}
	.address-form-btn {
		height: 40px;
		font-size: 16px;
		line-height: 40px;
	}
	.change-password {
		width: 100% !important;
		.btn-text {
			font-size: 14px !important;
		}
	}
	.section-header {
		.section-link {
			font-size: 14px;
		}
	}
}
