.close-wishlist-sidebar {
    display: flex;
    justify-content: flex-end;
    margin: 0 30px;
}
.content-sidebar .wishlist-list-tapita {
    padding: 25px 11px 0 11px;
}
.wishlist-sidebar-content {
    margin: 0 60px;
}
.wishlist-sidebar-content .wishlist-title {
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 10px;
    line-height: 20px;
}
.wishlist-items-tablet {
    max-height:565px;
    overflow: auto;
}
.wishlist-items-tablet .wishlist-item {
    display: flex;
    padding: 0 20px;
}
.wishlist-items-tablet .wishlist-item .item-img img {
    object-fit: contain;
}
.wishlist-items-tablet .wishlist-item .item-decs {
    margin-left: 25px;
    width: 60%;
}
.wishlist-items-tablet .wishlist-item .item-decs .item-name {
    white-space: nowrap;
    font-size: 18px;

    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    margin-bottom: 0;
}
.wishlist-items-tablet .wishlist-item .item-price {
    display: flex;
    min-height:40px;
    align-items: flex-end;
    margin-top: -10px;
}
.wishlist-items-tablet .wishlist-item .item-rate {
    /*margin-top: 5px;*/
}
.wishlist-items-tablet .wishlist-item .item-btn {
    margin-top: 5px;
}
.wishlist-items-tablet .wishlist-item .item-decs {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.wishlist-items-tablet .wishlist-item .item-action {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    align-items: center;
}
.wishlist-item .item-action .clear {
    cursor: pointer;
    margin-top: auto;
}
.wishlist-item .item-action .share {
    cursor: pointer;
}
.share-all-wishlist {
    margin: 10px 60px 0 60px;
}
.content-sidebar .share-all-wishlist {
    margin: 0 60px;
}
#wishlist-sidebar .content-sidebar.in {
    -webkit-transform: translate3d(0px,0px,0px) !important;
    -ms-transform: translate3d(0px,0px,0px) !important;
    transform: translate3d(0px,0px,0px) !important;
}
#wishlist-sidebar .share-all-wishlist {
    margin: 0 auto; 
    position : fixed;
    left : 0;
    right : 0;
    bottom : 0;
    height : 55px;
    padding-top : 15px;
    font-size: 20px;
}
@media (min-width: 768px) and (max-width: 1023px){
    .wishlist-items-tablet {
        max-height:760px;
        overflow: auto;
    }
    #wishlist-sidebar .content-sidebar {
        width: 100% !important;
        -webkit-transform: translateX(100%) !important;
        -ms-transform: translateX(100%) !important;
        transform: translateX(100%) !important;
    }
}
@media (max-width: 767px){
    #wishlist-sidebar .content-sidebar {
        width: 100% !important;
        -webkit-transform: translateX(100%) !important;
        -ms-transform: translateX(100%) !important;
        transform: translateX(100%) !important;
    }
    #wishlist-sidebar .content-sidebar .header-sidebar {
        box-shadow: none;
    }
    #wishlist-sidebar-app-bar {
        background: none !important;
    }

    #wishlist-sidebar-app-bar .sidebar-title{
        color: black !important;   
        margin-top: 15px;    
        font-weight: bold;
    }
    
    .wishlist-sidebar-content {
        margin: 0 ;
    }
    .wishlist-items-tablet .wishlist-item .item-img img {
        width: 90px !important;
        height: 90px !important;
    }
    .wishlist-items-tablet .wishlist-item .item-decs .item-name {
        font-size: 14px;
    }
    .wishlist-item .item-price span.price {
        font-size: 16px;
    }
    .wishlist-item .special-price {
        flex-wrap: wrap;
    }
    .wishlist-item .special-price .a {
        margin-right: 20px;
    }
    .wishlist-item .special-price-label {
        margin-left: 0 !important;
    }
    .wishlist-items-tablet .wishlist-item .item-price {
        min-height: 20px;
        margin: 0 !important;
    }
    .wishlist-items-tablet .wishlist-item .item-btn .btn-component {
        min-height: 25px !important;
    }
    .wishlist-items-tablet .wishlist-item .item-btn .btn-component .btn-text {
        font-size: 12px !important;
    }
    .wishlist-items-tablet .wishlist-item .item-decs {
        justify-content: unset;
        width: 180px;
    }
    .wishlist-item .item-action .clear {
        height: 20px !important;
    }
    .wishlist-item .item-action .share-icon {
        padding: 0 !important;
    }
    .wishlist-item .item-action .share-icon svg {
        width: 20px !important;
        height: 20px !important;
    }
    #wishlist-sidebar .share-all-wishlist {
        font-size: 17px;
    }
}