/*
Filter
 */

.filter-products {
    padding: 15px;
}

.filter-products .title {
    text-transform: uppercase;
    color: #2d2d2d;
    font-size: 16px;
    font-weight: 600;
}

.filter-products .active-filter {
    background-color: #f1f1f1;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 0;
}

.filter-products .active-filter .filter-active-item {
    display: flex;
    margin-bottom: 10px;
}

.filter-products .active-filter .item-content {
    font-size: 14px;
    width: 100%;
    margin-left: 0;
    display: flex;
}

.filter-products .active-filter .clear-icon {
    height: 15px;
    display: flex;
    text-align: right;
    float: right;
    margin-top: 2px;
}
.filter-products button.clear-filter, .filter-products button.clear-filter:hover {
    border: none;
    background: none;
    padding: 5px;
    font-weight: 500;
    color: #ff9800;
}
.filter-products .active-filter-list-item {
    width: 100%;

}
.filter-products .active-filter-list-item div {
    padding:  0 !important;
}

.filter-products .filter-item {
    margin: 5px 16px;
}

.filter-products .filter-name-item {
    font-size: 18px;
    padding: 5px;
}

.filter-products .content-sidebar {
    width: 100%;
}

@media (max-width: 767px){
    .filter-products .filter-name-item {
        font-size: 15px;
    }
}