.product-list-container-tablet {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px auto;
}
.product-list-container-tablet > div {
    display: inline-block;
    vertical-align: top;
}

.product-list-container-tablet .left-navigation {
    margin-top: 20px;
}
.product-list-container-tablet .left-navigation-title {
    font-size: 22px;
    font-weight: 600;
    margin: 0 15px;
}

.product-list-container-tablet .product-list {
    margin-top: 20px;
}
.product-list-container-tablet .no-product {
    width: 100%;
    text-align: center;
}

.product-list-container-tablet .product-list-items {
    margin-bottom: 20px;
}
.product-list-container-tablet .product-list-items .list-items {
    margin-top: 10px;
}

.product-list-container-tablet .top-filter-button {
    display: none;
}

@media (max-width: 767px){
    .product-list-container-tablet .top-filter-button {
        display: inline-block;
        padding: 5px 15px;
        font-size: 17px;
        border: 1px solid black;
        border-radius: 7px;
        height: 36px;
        margin: 0 5px;
        font-weight: 600;
    }
    .product-list-container-tablet .top-filter-button:hover {
        cursor: pointer;
    }
}

/*
Sort by
 */
.product-list-container-tablet .top-sort-by {
    padding: 15px;
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.product-list-container-tablet .top-sort-by .gridlist-switcher {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    margin-right: 10px;
    color: #2d2d2d;
}

.product-list-container-tablet .top-sort-by .gridlist-switcher svg{
    width: 16px !important;
    height: 16px !important;
}

.product-list-container-tablet .top-sort-by .gridlist-switcher.active{
    background-color: #f1f1f1;
}

.product-list-container-tablet .top-sort-by .items-count{
    margin: 0 10px;
    line-height: 35px;
    font-weight: 400;
    font-size: 18px;
    white-space: nowrap;
}

.product-list-container-tablet .top-sort-by .sort-by-select {
    order: 3;
    display: flex;
}

.sort-by-options {
    display: flex;
    font-size: 16px;
    font-weight: 600;
    padding-top: 8px;
    margin-right: 15px;
    white-space: nowrap;
}
div.dir-arrow {
    padding-top: 8px;
    float: left;
    margin-right: 10px;
}
div.dir-title{
    float: left;
    width: 120px;
    font-size: 15px;
    margin-top: 10px;
}

ul li div.dir-title{
    margin-top: 0px;
}

div.dir-check{
    padding-top: 8px;
    float: right;
}
.product-list-container-tablet .product-list-items .config-page {
    margin: 10px 15px 10px 15px;
}

.product-list-container-tablet .product-list-items .items-per-page {
    margin-left: auto;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 600;
}

@media (max-width: 1023px){
    div.dir-title{
        width: 86px;
    }
}

@media (max-width: 767px){
    .product-list-container-tablet .top-sort-by .gridlist-switcher {
        display: none;
    }
    
    .product-list-container-tablet .top-sort-by .items-count {
        display: none;
    }

    .product-list-container-tablet .top-sort-by .sort-by-select > div > div > div > div  {
        display: flex;
        max-width: 110px;
    }
}

/*
Pagination
 */
.product-list-container-tablet .product-grid-pagination {
    max-width: 880px;
    margin: 0 auto;
}

/*
Product Grid
 */
.product-list-container-tablet .product-grid {
    padding-left: 15px;
    padding-right: 15px;
}